<head>

    <title>My Friend likes to bike</title>

    <!--import script files needed from plotly and bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js" integrity="sha256-Ac6pM19lP690qI07nePO/yY6Ut3c7KM9AgNdnc5LtrI=" crossorigin="anonymous"></script>
</head>

<body>

    <!--navbar links-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">Biking Data Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.jaekanglee.com">Jaekang Lee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.trumanhung.tech">Data Source</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--middle section-->
    <div class="row">

        <!--social media buttons column-->
        <div class="col-1 border-right">
            <div id="follow-me" class="mt-3">
                <a href="www.linkedin.com/in/jaekang-lee" target="_blank">
                    <img src="/static/img/linkedinlogo.png" alt="linkedin" class="img-fluid mb-4 ml-2">
                </a>
                <a href="https://github.com/leejaeka" target="_blank">
                    <img src="/static/img/githublogo.png" alt="github" class="img-fluid ml-2">
                </a>
            </div>
        </div>

        <!--visualizations column-->
        <div class="col-11">
            
            <!--chart descriptions-->
            <div id="middle-info" class="mt-3">

                <h2 id="tag-line">Interactive data dashboard with Plotly</h2>
                <h4 id="tag-line" class="text-muted">My friend likes to bike</h4>

            </div>
            <!--charts-->
            <div id="charts" class="container mt-3 text-center">

                <!--top two charts-->
                <div class="row">
                    <div class="col-6">
                        ScatterPlot with Linear regression
                        <style>
                            .zoom {
                                z-index: 10;
                                transition: transform .2s; /* Animation */
                            }

                                .zoom:hover {
                                    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
                                }
                        </style>
                        <div id="{{ids[0]}}" style="z-index:-1;"></div>
                        <p>Clearly, more distance and elevation results in more calories burned.<br />
                        Elevation gain burns more calories than distance.</p>
                    </div>
                    <div class="col-6">
                        <div>
                            Heatmap
                            <img src="/static/img/heatmap.png" class="zoom img-fluid ml-2" style="z-index:1;" />
                            <p>
                                Lots of correlated columns. <br />
                                - Athelete Weight, Bike Weight | Moving Time, Distance, Elevation etc
                            </p>
                        </div>
                    </div>
                </div>

                <!--bottom two charts-->
                <div class="row mb-6">
                    <div class="col-6">
                        <div id="chart3">
                            SHAP plot for Gusto
                            <img src="/static/img/SHAP.png" class="img-fluid ml-2" style="z-index:1;" />
                            <p>
                                The computer was able to correctly categorize type of bike used for a trip 0.842% of the time. RandomForestClassifier was used.<br />
                                From this we can tell that machine looks mostly at Year, Elevation Low, Athlete Weight, Elevation High to guess which bike was used.<br />
                                For example, the later year the trip took, the computer increased the chance of bike being Gusto rose by nearly 20%.
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="chart4">
                            Histograms
                            <img src="/static/img/histogram.png" class="zoom img-fluid ml-2" style="z-index:1;" />
                        </div>
                    </div>
                </div>
                <h1>Principle Component Analysis</h1>
                <!--Create another row and place a fifth chart in that row-->
                <div class="row mb-6">
                    <div class="col-12">
                        <div id="chart5">
                            PCA 3D
                            <div id="{{ids[3]}}"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-6">
                    <div class="col-12">
                        <div id="chart5">
                            Scatterplot by date
                            <div id="{{ids[1]}}"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-6">
                    <div class="col-12">
                        <div id="chart5">
                            PCA 2D
                            <div id="{{ids[2]}}"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
            </div>

            <!--footer section-->
            <div id="footer" class="container"></div>

</body>


<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id must match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

</footer>


</html>